<div class="app">
  <div class="app__sidebar">
    <h1> Angular Streamer </h1>
    <div class="streamer-list">
      <streamer-card
        *ngFor="let streamer of streamerList; index as i"
        [streamer]="streamer"
        [stream]="streams[i]"
        (onPlay)="openStream($event)"
        (onDelete)="removeStreamer(i)"
      ></streamer-card>
    </div>
    <button
      class="button"
      (click)="addStreamer()"
    >
      Add Streamer
    </button>
  </div>

  <div class="app__content">
    <h2> Current Stream </h2>
    <stream
      [stream]="currentStream"
    ></stream>
  </div>
</div>
